:root {
    --primary-color: #0f1a2c;
    --secondary-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Playfair Display", serif;
}
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__subheader {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
  }
  
  .section__header {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
  }
  
  .section__description {
    margin-top: 1rem;
    color: var(--text-light);
  }
  
  .btn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
